@font-face {
  font-family: "Cabin";
  src: url("assets/fonts/Cabin-VariableFont_wdth,wght");
}

@font-face {
  font-family: "NunitoSans";
  src: url("assets/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght");
}

@font-face {
  font-family: "NunitoSans";
  src: url("assets/fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght");

}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  background-color: burlywood;
}
.main {

}
.footer {
  background-color: greenyellow;
}

  h1 {
    font-family: NunitoSans, Helvetica, sans-serif;
    font-weight: bold;
  }

  h2 {
    font-family: NunitoSans, Helvetica, sans-serif;
    font-weight: bold;
  }

  h3 {
    font-family: NunitoSans, Helvetica, sans-serif;
  }

  p {
    font-family: NunitoSans, Helvetica, sans-serif;
  }

  ul {
    list-style-type: circle;
    font-family: NunitoSans, Helvetica, sans-serif;
  }

  li::marker {
    color : burlywood;
  }

  code {
    font-size: 300 px;
  }